@use '../tokens' as *;

.case-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  align-items: start;
  padding: 1.25rem;
  border: $border;
  border-radius: $radius-lg;
  box-shadow: $shadow;
  text-decoration: none;
  color: inherit;
  background: $white;
  transition: box-shadow 0.1s, transform 0.1s;
  margin-bottom: 24px;

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 5px 5px 0px $accent;
    border-color: $accent;
  }

  &:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

  &__num {
    font-size: 11px;
    color: $gray-mid;
    font-weight: 500;
    padding-top: 3px;
    min-width: 28px;
    font-family: $font-mono;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    font-family: $font-mono;
  }

  &__desc {
    font-size: 13px;
    color: $gray-mid;
    line-height: 1.6;
  }

  &__tags {
    display: flex;
    gap: 6px;
    margin-top: 8px;
    flex-wrap: wrap;
  }

  &__year {
    font-size: 11px;
    color: $gray-mid;
    padding-top: 3px;
    font-family: $font-mono;
  }
}