.desktop-icons {
  position: fixed;
  top: 32px;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  pointer-events: none;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    pointer-events: all;
  }

  &__row:first-child {
    padding-top: 40px;
  }
}