// Define variables for your color scheme

// For example:
$red: #f25f5c;
$blue: #247ba0;
$yellow: #FEBC32;
$orange: #E67E22;
$green: #70c1b3;
$gray: #50514f;
$light-gray: #D8D8D8;
$white: #FFFFFF;
$black: #020202;
