<div class="bg-white py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto"><div class="small m-0">Copyright &copy; Tanya Lathion 2024</div></div>
      <div class="col-auto">
          <p class="small">Check the code &#128073;
          <a href="https://github.com/tanyalathion/portfolio">Go to the repo!</a>
          </p>
      </div>
    </div>
  </div>
</div>
