<div class="container px-5 px-lg-2 py-4 h-100 position-absolute top-50 start-50 translate-middle">
<h1 class="h1">Tanya Lathion</h1>
<p>UX Designer // Full-stack Web Developer // Project Manager</p>

<div class="image-container align-items-center justify-content-center">
    <%= image_tag "pola1.png", alt: "project 1",style: "width: 400px;" %>
    <div class="text-overlay h1">Texte sur l'image</div>
    <div class="link-overlay a">Texte sur l'image</div>
</div>
</div>
