<!-- Contact form-->
<div class="bg-light rounded-4 py-5 px-4 px-md-5">
  <div class="text-center mb-5">
    <div class="feature bg-primary bg-secondary text-white rounded-3 mb-3"><i class="ri-shake-hands-line"></i></div>
      <h1 class="fw-bolder">Thank you for sending me a message!</h1>
      <p class="lead fw-normal text-muted mb-0">I'll get back to you as soon as possible. No ghosting here, I promise &#128123;</p>
    </div>

    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
      <!-- * * * * * * * * * * * * * * *-->
      <p class="lead fw-normal text-muted mb-0">In the meantime, add me on <%= link_to "linkedin", "https://www.linkedin.com/in/tanya-lathion/", target: "_blank" %> &#128588;</p>
      <!-- * * * * * * * * * * * * * * *-->

    </div>
  </div>
</div>
