---
interface Props {
  label: string
  windowId: string
  icon: string
}

const { label, windowId, icon } = Astro.props
---

<button class="desktop-icon" data-window={windowId}>
  <div class="desktop-icon__img">
    <img src={`/icons/${icon}.svg`} alt={label} />
  </div>
  <span class="desktop-icon__label">{label}</span>
</button>

<script>
  document.querySelectorAll('.desktop-icon').forEach(icon => {
    icon.addEventListener('click', () => {
      const windowId = icon.getAttribute('data-window')
      const win = document.getElementById(windowId!)
      win?.classList.remove('window--hidden')
      win!.style.zIndex = '100'
    })
  })
</script>