<div class="container px-5 my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0"><span class="text-marker d-inline">Resume</span></h1>
  </div>

  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">

<!-- ++++++++++++++++++++++++++ Experience Section ++++++++++++++++++++++++++ -->
      <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="text-black fw-bolder mb-0">Experience</h2>
        </div>

        <!-- Experience Card 1-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">feb 2023 - nov 2023</div>
                  <div class="small fw-bolder">Project Manager</div>
                  <div class="small text-muted">Groupe Mutuel Insurance</div>
                  <div class="small text-muted">Martigny, VS</div>
                </div>
              </div>
              <div class="col-lg-8">
                <ul>
                  <li>Managed cross-media user experience in a B2B context.</li>
                  <li>Managed the consistency of communications for the B2C smartphone application, across all media.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Experience Card 2-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">jun 2018 - feb 2023</div>
                  <div class="small fw-bolder">Web Content Manager</div>
                  <div class="small text-muted">Groupe Mutuel Insurance</div>
                  <div class="small text-muted">Martigny, VS</div>
                </div>
              </div>
              <div class="col-lg-8">
                <ul>
                  <li>Reduced calls to the call-center for procedures by redesigning the website's contact page based on its analytical data and interviews with customers.</li>
                  <li>Managed front-end development specifications.</li>
                  <li>Led the application of the company's brand visual assets, through the design system to the website.</li>
                  <li>Wrote website contents, optimized for both SEO and user experience.</li>
                  <li>Managed website architecture and navigability.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Experience Card 3-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">jun 2017 - may 2018</div>
                  <div class="small fw-bolder">Communication Specialist</div>
                  <div class="small text-muted">Syngenta Crops Protection</div>
                  <div class="small text-muted">Monthey, VS</div>
                </div>
              </div>
              <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
            </div>
          </div>
        </div>
      </section>

              <!-- Experience Card 4-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">jun 2015 - apr 2017</div>
                  <div class="small fw-bolder">UX Writer & Architect</div>
                  <div class="small text-muted">Freelance</div>
                  <div class="small text-muted">Switzerland</div>
                </div>
              </div>
              <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
            </div>
          </div>
        </div>
      </section>

                    <!-- Experience Card 5-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">aug 2013 - jun 2015</div>
                  <div class="small fw-bolder">Vet student</div>
                  <div class="small text-muted">Universität Bern</div>
                  <div class="small text-muted">Bern, BE</div>
                </div>
              </div>
              <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
            </div>
          </div>
        </div>
      </section>

              <!-- Experience Card 6-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">mar 2012 - fev 2013</div>
                  <div class="small fw-bolder">Junior Copywriter</div>
                  <div class="small text-muted">Gaultier Colette</div>
                  <div class="small text-muted">Geneva, GE</div>
                </div>
              </div>
              <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
            </div>
          </div>
        </div>
      </section>

      <!-- Education Section-->
      <section>
        <h2 class="text-black fw-bolder mb-4">Education</h2>

        <!-- Education Card 1-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2023</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">Le Wagon</div>
                    <div class="small text-muted">English session, Online</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">Bootcamp</div>
                    <div class="small fw-bolder">Fullstack Web Development</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Education Card 2-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2022</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">SAWI</div>
                    <div class="small text-muted">Winter session, Online</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">SAWI Degree</div>
                    <div class="small fw-bolder">UX Design</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Web production: UX thinking - Writing, accessibility and effective sharing of Web content - The user: analysis tools and methods - Ideation, UX methodology - Information architecture and tree structure - Prototyping.</div>
                <div>&#128588; Achieving honors and prom master.</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Education Card 3-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2022</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">CREA</div>
                    <div class="small text-muted">Lausanne, VD</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">Mater's Degree</div>
                    <div class="small fw-bolder">Digital Marketing & Communication</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Business Environment - Consumer Intelligence - Branding - Problem Solving & Strategy - Global Media Activation & Analytics - Leadership - Digital Channels Advanced - Creative Communication - CRM - Data Driven Strategy.</div>
                <div>&#128640; Specialization Data-driven Strategy.</div>
                <div>&#128588; Achieving honors.</div>
              </div>
            </div>
          </div>
        </div>

                <!-- Education Card 4-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">2011</div>
                  <div class="mb-2">
                    <div class="small fw-bolder">CREA</div>
                    <div class="small text-muted">Geneva, GE</div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">Bachelor's Degree</div>
                    <div class="small fw-bolder">Art Direction</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>Creation and branding - Design and copywriting - Digital and media - Graphic and web design - Marketing and communication - Advertising culture and art history - Drawing and layout - DTP and production - Photography and audiovisual - Discovery and business creation - Personal development and coaching.</div>
                <div>&#128640; Specialization Copywriting.</div>
              </div>
            </div>
          </div>
        </div>

      </section>
<!-- ++++++++++++++++++++++++++ Divider ++++++++++++++++++++++++++ -->
      <div class="pb-5"></div>

<!-- ++++++++++++++++++++++++++ Skills Section ++++++++++++++++++++++++++ -->
      <section>
        <!-- Skillset Card-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">

            <!-- Professional skills list-->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div class="feature bg-primary text-black rounded-3 me-3"><i class="ri-tools-fill"></i></div>
                <h3 class="fw-bolder mb-0"><span class="d-inline">Professional Skills</span></h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SEO/SEM Marketing</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Statistical Analysis</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Experience Design</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Project Management</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Figma</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">GitHub</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Jira / Confluence</div></div>
              </div>
            </div>

            <!-- Development Languages list-->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div class="feature bg-primary text-black rounded-3 me-3"><i class="ri-code-s-slash-line"></i></div>
                <h3 class="fw-bolder mb-0"><span class="d-inline">Development Languages</span></h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ruby</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Swift</div></div>
              </div>
            </div>

            <!-- Spoken Languages list-->
            <div class="mb-0">
              <div class="d-flex align-items-center mb-4">
                <div class="feature bg-primary text-black rounded-3 me-3"><i class="ri-megaphone-line"></i></div>
                <h3 class="fw-bolder mb-0"><span class="d-inline">Spoken Languages</span></h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">French - Native</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">English - C2</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Swiss German - B2</div></div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>
