---
---

<footer class="footer">
  <span>tanyalathion.ch</span>
  <div class="footer__links">
    <a href="https://github.com" target="_blank">GitHub</a>
    <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    <a href="mailto:hello@tanyalathion.ch">hello@tanyalathion.ch</a>
  </div>
</footer>