---
import { Github, Linkedin, Mail } from 'lucide-astro'
---

<footer class="footer">
  <span>© 2026 Tanya Lathion</span>
  <div class="footer__links">
    <a href="https://github.com/tanyalathion" target="_blank"><Github size={16}/> GitHub</a>
    <a href="https://www.linkedin.com/in/tanya-lathion/" target="_blank"><Linkedin size={16}/> LinkedIn</a>
    <a href="mailto:hello@tanyalathion.ch"><Mail size={16}/> hello@tanyalathion.ch</a>
  </div>
</footer>