---
---

<footer class="footer">
  <span>© 2026 Tanya Lathion</span>
  <div class="footer__links">
    <a href="https://github.com/tanyalathion" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/tanya-lathion/" target="_blank">LinkedIn</a>
    <a href="mailto:hello@tanyalathion.ch">hello@tanyalathion.ch</a>
  </div>
</footer>