---
---

<header class="menubar">
  <div class="menubar__left">
    <button class="menubar__apple">
      <img src="/favicon-tl.svg" alt="TL" class="menubar__logo" />
    </button>
    <div class="menubar__menu">
      <button class="menubar__item">File</button>
      <button class="menubar__item">Work</button>
      <button class="menubar__item">About</button>
      <button class="menubar__item">Contact</button>
    </div>
  </div>
  <div class="menubar__right">
    <span class="menubar__clock" id="menubar-clock"></span>
  </div>
</header>

<script>
  function updateClock() {
    const clock = document.getElementById('menubar-clock')
    if (clock) {
      const now = new Date()
      clock.textContent = now.toLocaleTimeString('fr-CH', {
        hour: '2-digit',
        minute: '2-digit'
      })
    }
  }
  updateClock()
  setInterval(updateClock, 1000)
</script>