---
import '../styles/global.scss'
import MenuBar from '../components/organisms/MenuBar.astro'

interface Props {
  title?: string
}

const { title = 'Tanya Lathion' } = Astro.props
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon-tl.svg" />
  </head>
  <body id="app-body">
    <MenuBar />
    <div class="desktop">
      <slot />
    </div>
  </body>
</html>

<script>
  function checkDevice() {
    if (window.innerWidth < 768) {
      document.getElementById('app-body')?.classList.add('is-mobile')
    } else {
      document.getElementById('app-body')?.classList.remove('is-mobile')
    }
  }
  checkDevice()
  window.addEventListener('resize', checkDevice)
</script>

